!!! 5 iso-8859-1
%html{:lang => "en"}
	%head
		%title Coral #{@config[:version]}: #{@item[:title]}
		= render 'partials/head'
	%body.bp
		#header= render 'partials/header'
		#container
			#sidebar= render 'partials/sidebar'
			#mainarea
				#toolbar= render 'partials/toolbar'
				#content.doc= yield
		#footer= render 'partials/footer'
		= render 'partials/analytics'
