%h1 API
%ul
	%li
		%a(href="/#{@config[:version]}/api/annotated.html") Class List
	%li
		%a(href="/#{@config[:version]}/api/hierarchy.html") Class Hierarchy
	%li
		%a(href="/#{@config[:version]}/api/namespaces.html") Namespaces
	%li
		%a(href="/#{@config[:version]}/api/group__functional.html") Functional Groups

#separator

%h1 Topics
%ul
	%li
		%a(href="/#{@config[:version]}/fundamentals.html") Fundamentos
	%li
		%a(href="/#{@config[:version]}/types.html") Sistema de Tipos
	%li
		%a(href="/#{@config[:version]}/csl.html") Coral Specification Language (CSL)
	%li
		%a(href="/#{@config[:version]}/mapping.html") Mapeamento de CSL para C++
	%li
		%a(href="/#{@config[:version]}/compiler.html") Compilador
	%li
		%a(href="/#{@config[:version]}/cmake.html") CMake Package

#separator

%h1 Examples
%ul
	%li Tutorial
	%li Examples
